form.bookingNow {
  padding: 18px 12px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  border: 1px solid lightgray;
  border-radius: 16px;
}

form.bookingNow input,
form.bookingNow textarea {
  background-color: #eae8e8;
  border: none;
  border-radius: 12px;
  outline: none;
  padding: 12px;
}

form.bookingNow button {
  font-family: Work Sans;
  font-size: 18px;
  font-weight: 700;
  line-height: 27px;

  background-color: #275eef;
  color: white;
  align-self: self-start;
  padding: 12px 48px;
  border-radius: 18px;
}

.FAQ p {
  color: #004e67;
}
